<div class="module-loading-indicator"></div>
<div class="module-docheader t3js-module-docheader">
    <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
        <div class="module-docheader-bar-column-left">
            <f:if condition="{docHeader.menus}">
                <div class="module-docheader-bar-container">
                    <f:for each="{docHeader.menus}" as="menu">
                        <div class="form-group form-group-sm">
                            <f:render partial="Menus/SelectBoxJumpMenu" arguments="{menu:menu}"/>
                        </div>
                    </f:for>
                    <f:render partial="ButtonBar" arguments="{buttons:docHeader.buttons.left}" />

                    <f:for each="{docHeader.menus.languageMenu.menuItems}" as="item" iteration="iterator">
                        <f:if condition="{iterator.isLast} && {item.active}">
                            <f:then>
                                <f:variable name="showDefaultLanguageCheck">1</f:variable>
                            </f:then>
                            <f:else></f:else>
                        </f:if>
                    </f:for>
                    <f:if condition="!{docHeader.menus.languageMenu.menuItems.0.active} && !{showDefaultLanguageCheck}">
                    <div style="float: left;">
                        <label class="form-check-label" for="defaultlanguage">
                            <input
                                style="font-size: 1.5em;"
                                    type="checkbox"
                                    id=""
                                    class="form-check-input"
                                    name="defaultlanguage"
                                    checked
                                    onclick="document.querySelector('.t3-grid-table').classList.toggle('hide-default-language');"
                                />
                            Show default language
                        </label>
                    </div>
                </f:if>
                </div>
            </f:if>

        </div>
        <div class="module-docheader-bar-column-right">
            <f:if condition="{docHeader.metaInformation.recordInformation}">
                <f:if condition="{docHeader.metaInformation.fileOrFolder}">
                    <f:then>
                        <f:format.raw>{docHeader.metaInformation.path}</f:format.raw>
                    </f:then>
                    <f:else>
                        <span class="typo3-docheader-pagePath">
                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.path"/>: <f:format.raw>{docHeader.metaInformation.path}</f:format.raw>
                        </span>
                    </f:else>
                </f:if>
                <strong>
                    <f:format.raw>
                        {docHeader.metaInformation.recordInformationIcon} {docHeader.metaInformation.recordInformationTitle}
                        <f:if condition="{docHeader.metaInformation.recordInformationUid}">[{docHeader.metaInformation.recordInformationUid}]</f:if>
                    </f:format.raw>
                </strong>
                {docHeader.metaInformation.recordInformationAdditionalInfo}
                <div class="module-docheader-bar-column-right" style="float: right; margin-left: 2em;" >
                    <f:render partial="ButtonBar" arguments="{buttons:docHeader.buttons.right}" />
                </div>
            </f:if>
        </div>
    </div>
    <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
        <div class="module-docheader-bar-column-left">
        </div>
    </div>
</div>
