.t3-grid-container {
    border: none;
}

.t3-grid-table {
    border-spacing: 0;
}

.t3-page-ce-element {
    box-shadow: none;
    /*  border: none; */
}

.t3-grid-container-inner {
    overflow: hidden;
}

table.t3-grid-table {
    border-collapse: separate !important;
    border-spacing: var(--pagemodule-grid-spacing) !important;
    /* Pull the table outward by the exact amount of the gap */
    margin-top: calc(var(--pagemodule-grid-spacing) * -1) !important;
    margin-left: calc(var(--pagemodule-grid-spacing) * -1) !important;
    margin-right: calc(var(--pagemodule-grid-spacing) * -1) !important;
    margin-bottom: calc(var(--pagemodule-grid-spacing) * -1) !important;

    /* Recalculate width to prevent the layout from shrinking */
    width: calc(100% + (var(--pagemodule-grid-spacing) * 2)) !important;
    max-width: none !important;

}